<% @jokes.each do |joke| %>
<div>
	<h1> <%= joke.user.email %></h1>
	<h2> <%= joke.body %></h2>
	<h3> <%= joke.vote_count %></h3>
	<%= link_to "upvote", "/jokes/#{joke.id}/votes/upvote", method: "post" %>
	

	<%= link_to "downvote", "/jokes/#{joke.id}/votes/downvote", method: "post" %>

	<%#=form_tag("/jokes/#{joke.id}/votes/downvote", method: "post") do %>
	<%#= submit_tag("downvote") %>
	
</div>
	<% end %>